/* canvas particles */
#bg-particles {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;

  z-index: -2;            /* PALING BELAKANG */
  pointer-events: none;
}

/* parallax blur background */
.parallax-bg {
  position: fixed;
  inset: -30%;

  background:
    radial-gradient(circle at 20% 20%, rgba(90,120,255,0.18), transparent 45%),
    radial-gradient(circle at 80% 60%, rgba(0,255,255,0.12), transparent 50%);

  filter: blur(40px);
  z-index: -1;            /* DI ATAS CANVAS */
  pointer-events: none;
}