@media (min-width: 768px) {

  .hero {
    padding-top: 160px;
  }

  .hero h1 {
    font-size: 2.6rem;
  }

  .hero p {
    font-size: 1.05rem;
  }

  .hero-cta {
    grid-template-columns: repeat(2, 220px);
    justify-content: center;
  }

  .stats {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: auto;
  }

  .hamburger {
    display: none;
  }

  .logo img {
    display: none;
  }

  .logo-text {
    font-size: 16px;
  }

  .navbar {
    max-width: 1100px;
    padding: 14px 28px;
  }

  .mobile-menu {
    position: static;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    gap: 28px;

    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .mobile-menu .menu-item {
    font-size: 15px;
    position: relative;
  }

  .mobile-menu .menu-item::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #ff4d4d;
    transition: 0.3s;
    box-shadow: 0 0 10px #ff4d4d;
  }

  .mobile-menu .menu-item:hover::after {
    width: 100%;
  }
}