.hamburger {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);

  border-radius: 15%;
  box-shadow:
    0 0 15px rgba(0,255,255,0.6),
    inset 0 0 10px rgba(0, 255, 255, 0.1);

  cursor: pointer;

  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: #ffffff;
  border-radius: 3px;
  transition: all 0.35s ease;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}