.hamburger {
  width: 26px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 6px rgba(255, 80, 80, 0.8);
}