.hamburger {
  width: 28px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  transition: all 0.35s ease;
}

.hamburger.active span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}