.navbar {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  max-width: 1200px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 18px;
  border-radius: 18px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 2px solid rgba(0,255,255,0.2);
  box-shadow:
    0 0 15px rgba(0,255,255,0.6),
    inset 0 0 10px rgba(0, 255, 255, 0.1);

  z-index: 9997;
}

.logo img {
  width: 34px;
  height: 34px;
  border-radius: 50%;     
  object-fit: cover;
  border: 1px solid rgba(0,255,255,0.2);
}

.logo-text {
  font-weight: 600;
  font-size: 15px;
  display: none;
  color: #eaffff;
}

/* LEFT SIDE */
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ===== MOBILE MENU ===== */
.mobile-menu {
  position: absolute;
  top: calc(100% + 12px);
  left: 12px;
  right: 12px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 16px;
  border-radius: 18px;

  /* PENTING */
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 2px solid rgba(0,255,255,0.25);

  box-shadow:
    0 0 25px rgba(0,255,255,0.45),
    inset 0 0 15px rgba(0,255,255,0.15),
    0 25px 50px rgba(0,0,0,0.6);

  opacity: 0;
  transform: translateY(-12px) scale(0.98);
  pointer-events: none;

  transition: all 0.3s ease;
  z-index: 9998;
}

.mobile-menu.active {
  opacity: 1;
  transform: translateY(0) scale(1);
  pointer-events: auto;
}

.menu-item {
  padding: 14px;
  border-radius: 14px;

  background: rgba(255,255,255,0.05);
  color: #fff;

  text-align: center;
  text-decoration: none;
  font-weight: 500;

  border: 1px solid rgba(0,255,255,0.2);
}

  .menu-item.active {
    background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
    color: #fff;
  }

  .stats {
    grid-template-columns: 1fr;
  }
}