.navbar {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  max-width: 1200px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 12px 18px;
  border-radius: 18px;

  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 2px solid rgba(0,255,255,0.2);
  box-shadow:
    0 0 15px rgba(0,255,255,0.6),
    inset 0 0 10px rgba(0, 255, 255, 0.1);

  z-index: 9997;
}

.logo img {
  width: 34px;
  height: 34px;
  border-radius: 50%;     
  object-fit: cover;
  border: 1px solid rgba(0,255,255,0.2);
}

.logo-text {
  font-weight: 600;
  font-size: 15px;
  display: none;
  color: #eaffff;
}

/* LEFT SIDE */
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* ===== MOBILE MENU ===== */
.mobile-menu {
  position: fixed;
  top: 90px; 
  left: 16px;
  right: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 16px;
  border-radius: 18px;

  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 2px solid rgba(0,255,255,0.25);
  box-shadow:
    0 0 25px rgba(0,255,255,0.35),
    inset 0 0 12px rgba(0,255,255,0.15);

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition: all 0.25s ease;
  z-index: 9996;
}

  .mobile-menu.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .menu-item {
    padding: 14px;
    border-radius: 12px;
    background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
    color: #fff;
    text-align: center;
    text-decoration: none;
  }

  .menu-item.active {
    background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
    color: #fff;
  }

  .stats {
    grid-template-columns: 1fr;
  }
}