* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  color: #ffffff;
  display: flex;
  flex-direction: column;

  position: relative;
  z-index: 1;
}

section,
header,
footer {
  position: relative;
  z-index: 2;
}

p {
  color: #cbd5ff;
  line-height: 1.6;
}

/* ===== SUBTITLE ===== */
.subtitle {
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;

  color: #aefcff;
  margin-bottom: 12px;
  position: relative;
}

/* GARIS SUBTITLE */
.subtitle::after {
  content: "";
  display: block;
  width: 220px;
  height: 4px;
  margin-top: 8px;

  background: linear-gradient(
    90deg,
    #00ffff,
    rgba(0,255,255,0.2)
  );

  border-radius: 2px;
  box-shadow: 0 0 12px rgba(0,255,255,0.6);
}

/* ===== GLASS UI CARD (GLOBAL) ===== */
.glass {
  background: rgba(255,255,255,0.06);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-radius: 16px;
  border: 1px solid rgba(0,255,255,0.25);

  box-shadow:
    0 0 0 1px rgba(0,255,255,0.15),
    0 0 24px rgba(0,255,255,0.25);
}

/* ===== GLOBAL LINKS ===== */
a {
  color: inherit;
  text-decoration: none;
}

/* ===== FOOTER BASIC ===== */
footer {
  margin-top: auto;
  text-align: center;
  font-size: 12px;
  color: #9fbfff;
  padding: 20px 16px;
}